In [1]:
import pandas as pd

In [2]:
from game import Game

In [3]:
test_game = Game()

Choose existing player or create a new one:
1.	Create a new player
2.	Sergei
3.	Gal

>->-> 3

In [4]:
test_game.user.name

'Gal'

In [5]:
test_game.play()

Enter number of questions: 10

 Categories:

0:	ANY
1:	Animals
2:	Art
3:	Celebrities
4:	Entertainment: Board Games
5:	Entertainment: Books
6:	Entertainment: Cartoon & Animations
7:	Entertainment: Comics
8:	Entertainment: Film
9:	Entertainment: Japanese Anime & Manga
10:	Entertainment: Music
11:	Entertainment: Musicals & Theatres
12:	Entertainment: Television
13:	Entertainment: Video Games
14:	General Knowledge
15:	Geography
16:	History
17:	Mythology
18:	Politics
19:	Science & Nature
20:	Science: Computers
21:	Science: Gadgets
22:	Science: Mathematics
23:	Sports
24:	Vehicles
Please choose your option: 0

 Difficulty:

0:	ANY
1:	Easy
2:	Hard
3:	Medium
Please choose your option: 3

 Type:

0:	ANY
1:	Multiple Choice
2:	True/False
Please choose your option: 2



Question 1:
The common software-programming acronym "I18N" comes from the term "Interlocalization".
Possible answers:
1:	False
2:	True
>->-> 2


Question 2:
Tennis was once known as Racquetball.
Possible answers:
1:	False
2:	True
>->-> 1


Question 3:
According to Norse mythology, Loki is a mother.
Possible answers:
1:	False
2:	True
>->-> 1


Question 4:
George W. Bush lost the popular vote in the 2004 United States presidential election.
Possible answers:
1:	False
2:	True
>->-> 2


Question 5:
Klingons respect their disabled comrades, and those who are old, injuried, and helpless.
Possible answers:
1:	False
2:	True
>->-> 1


Question 6:
Klingons once had a period of Democracy in their history, they referred to it as the "Dark Times".
Possible answers:
1:	False
2:	True
>->-> 2


Question 7:
Linus Sebastian is the creator of the Linux kernel, which went on to be used in Linux, Android, and Chrome OS.
Possible answers:
1:	False
2:	True
>->-> 1


Question 8:
Finnish Lapphund dogs were used for herding reindeer.
Possible answers:
1:	False
2:	True
>->-> 2


Question 9:
In "Star Trek: The Next Generation", Data is the only android in existence.
Possible answers:
1:	False
2:	True
>->-> 1


Question 10:
Sir Issac Newton served as a Member of Parliament, but the only recorded time he spoke was to complain about a draft in the chambers.
Possible answers:
1:	False
2:	True
>->-> 2


Your results:
----------------------------------------
                          medium
question category
Animals                      1/1
Entertainment: Television    3/3
History                      1/1
Mythology                    0/1
Politics                     0/1
Science: Computers           1/2
Sports                       1/1

Total result:	7/10

In [5]:
test_game.user.get_statistics(last_game=False, print_result=True, return_df=True)

Your results:
------------------------------------------------------------
                                      easy
question category
Entertainment: Japanese Anime & Manga  0/1
Entertainment: Music                   0/1
Entertainment: Television              0/1
Entertainment: Video Games             1/2
Geography                              0/3
Mythology                              1/1
Science: Computers                     1/1

Total result:	3/10

                                category difficulty player  total  correct
0  Entertainment: Japanese Anime & Manga       easy    Gal      1        0
1                   Entertainment: Music       easy    Gal      1        0
2              Entertainment: Television       easy    Gal      1        0
3             Entertainment: Video Games       easy    Gal      2        1
4                              Geography       easy    Gal      3        0
5                              Mythology       easy    Gal      1        1
6                     Science: Computers       easy    Gal      1        1

In [7]:
test_game.get_total_statistics(show_category=True ,show_difficulty=True)

+---------------------------------------+--------------+----------+---------+-----------+---------+
| category                              | difficulty   | player   |   total |   correct |   ratio |
|---------------------------------------+--------------+----------+---------+-----------+---------|
| Sports                                | medium       | Sergei   |       1 |         1 |     1   |
| Science: Computers                    | medium       | Sergei   |       2 |         1 |     0.5 |
| Science: Computers                    | easy         | Gal      |       1 |         1 |     1   |
| Science & Nature                      | easy         | Sergei   |       1 |         1 |     1   |
| Politics                              | medium       | Sergei   |       1 |         0 |     0   |
| Mythology                             | medium       | Sergei   |       1 |         0 |     0   |
| Mythology                             | easy         | Gal      |       1 |         1 |     1   |
| Mythology                             | easy         | Sergei   |       1 |         1 |     1   |
| History                               | medium       | Sergei   |       1 |         1 |     1   |
| History                               | easy         | Sergei   |       1 |         1 |     1   |
| Geography                             | easy         | Sergei   |       2 |         1 |     0.5 |
| Geography                             | easy         | Gal      |       3 |         0 |     0   |
| Entertainment: Video Games            | easy         | Sergei   |       2 |         2 |     1   |
| Entertainment: Video Games            | easy         | Gal      |       2 |         1 |     0.5 |
| Entertainment: Television             | medium       | Sergei   |       3 |         3 |     1   |
| Entertainment: Television             | easy         | Gal      |       1 |         0 |     0   |
| Entertainment: Music                  | easy         | Gal      |       1 |         0 |     0   |
| Entertainment: Music                  | easy         | Sergei   |       1 |         0 |     0   |
| Entertainment: Japanese Anime & Manga | easy         | Sergei   |       1 |         1 |     1   |
| Entertainment: Japanese Anime & Manga | easy         | Gal      |       1 |         0 |     0   |
| Celebrities                           | easy         | Sergei   |       1 |         0 |     0   |
| Animals                               | medium       | Sergei   |       1 |         1 |     1   |
+---------------------------------------+--------------+----------+---------+-----------+---------+